body {
    background: none repeat scroll 0 0 #3E1750;
    color: #F4ECD5;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0.5em 2em 2em;
}
h1 {
    border-top: 4px solid #BE1729;
    padding-bottom: 1em;
    padding-top: 1.2em;
}
img {
    float: right;
    padding-left: 1em;
}
a {
    color: #BE1729;
    font-style: italic;
}
li {
    list-style: none outside none;
    padding-top: 2px;
}
li:before {
    color: #AAAAAA;
    content: "(λ .";
    padding-right: 12px;
}

li:after {
    color: #AAAAAA;
    content: ")";
    padding-left: 6px;
}
.directory {
    font-style: italic;
}
